
.container {
  display: flex;
  flex-direction: column;
}

body {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
}

h1 {
  position: absolute;
  width: 645px;
  height: 61px;
  left: 85px;
  top: 64px;

  font-size: 50px;
  line-height: 61px;
}

h2 {
  position: absolute;
  width: 876px;
  height: 33px;
  left: 85px;
  top: 147px;

  font-size: 24px;
  line-height: 29px;
  font-weight:normal;
}

h3, h4, h5 {
  position: absolute;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

h3 {
  width: 277px;
  height: 38px;
  left: 89px;
  top: 575px;
}

h4 {
  width: 277px;
  height: 38px;
  left: 584px;
  top: 571px;
}

h5 {
  width: 277px;
  height: 38px;
  left: 1083px;
  top: 576px;
}
.butterfly-images img{
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 15px;
}

.butterfly-image1 img{
  left: 85px;
  top: 250px;
}

.butterfly-image2 img{
  left: 584px;
  top: 250px;
}

.butterfly-image3 img{
  left: 1072px;
  top: 250px;
}


